################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DynamitCodeExamples/DynamitCodeExamples/bin/Debug/netcoreapp1.1
